@model AdoptAnimal.Web.ViewModels.Comments.CreateCommentInputModel
@{
    this.ViewData["Title"] = "Create new comment";
}
<div class="container mt-2">
    <div class="cardm mt-0">
        <div class="row">
            <div class="col-10">
                <div class="comment-box ml-2">
                    <h5>Добави коментар</h5>
                    <div class="comment-area">
                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <div>
                            <textarea asp-for="Content" class="form-control" placeholder="Добави коментар..." rows="4"></textarea>
                            <span asp-validation-for="Content"></span>
                        </div>
                        <input type="submit" class="btn btn-primary ml-1 mt-2 mb-2" style="background-color: #9370db; border: none" value="Запази коментар"/>

                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>