@model AdoptAnimal.Web.ViewModels.Comments.CreateCommentInputModel
@{
    this.ViewData["Title"] = "Add new comment";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>

<form method="post" class="text-center">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Content">Content:</label>
        <input asp-for="Content" />
        <span asp-validation-for="Content"></span>
    </div>
    <div>
        <label asp-for="AdvertisementId">AdvertisementId:</label>
        <input asp-for="AdvertisementId" />
        <span asp-validation-for="AdvertisementId"></span>
    </div>
    <input type="submit" />

</form>
