@model AdoptAnimal.Web.ViewModels.Pets.CreatePetInputModel
@{
    this.ViewData["Title"] = "Add new pet";
    var genderTypes = this.Model.GenderTypes.Select(g => new SelectListItem(g.Value, g.Value));
    var enumElements = this.Model.IsDewormed.Select(e => new SelectListItem(e.Value, e.Value));
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1 class="text-center">@this.ViewData["Title"]</h1>

<form method="post" class="text-center">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Age">Age:</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>
      <div>
        <label asp-for="Weight">Weight:</label>
        <input asp-for="Weight" />
        <span asp-validation-for="Weight"></span>
    </div>
    <div>
        <label asp-for="Breed">Breed:</label>
        <input asp-for="Breed" />
        <span asp-validation-for="Breed"></span>
    </div>
    <div>
        <label asp-for="GenderTypes">Gender:</label>
        <select asp-for="GenderTypes" asp-items="genderTypes"></select>
        <span asp-validation-for="GenderTypes"></span>
    </div>
    <div>
        <label asp-for="IsDewormed">IsDewormed:</label>
        <select asp-for="IsDewormed" asp-items="enumElements"></select>
        <span asp-validation-for="IsDewormed"></span>
    </div>
    <div>
        <label asp-for="IsAdopted">IsAdopted:</label>
        <input asp-for="IsAdopted" />
        <span asp-validation-for="IsAdopted"></span>
    </div>
    <div>
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId"></span>
    </div>
    <div id="ImagesContainer">
        <label asp-for="Images">Images:</label>
        <button onclick="AddMoreImages()">+</button>
        <span asp-validation-for="Images"></span>
    </div>
    <input type="submit" />

</form>

@section Scripts{ 
<script>
    var imageIndex = 0;
    function AddMoreImages() {
        $("#ImagesContainer").append("<div class='form-control'> Extension: <input type='text' name='Images[" + imageIndex + "].Extension' id='' /> Label: <input type='text' name='Images[" + imageIndex + "].Label' id='' /></div>");
        imageIndex++;
    }
</script>}