@model AdoptAnimal.Web.ViewModels.Pets.CreatePetInputModel
@{
    this.ViewData["Title"] = "Add new pet";
    var enumElements = this.Model.IsDewormed.Select(e => new SelectListItem(e.Value, e.Value));
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1>@this.ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Age">Age:</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>
    <div>
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="Breed">Breed:</label>
        <input asp-for="Breed" />
        <span asp-validation-for="Breed"></span>
    </div>
    <div>
        <label asp-for="IsDewormed">IsDewormed:</label>
        <select asp-for="IsDewormed" asp-items="enumElements"></select>
        <span asp-validation-for="IsDewormed"></span>
    </div>
    <div>
        <label asp-for="IsAdopted">IsAdopted:</label>
        <input asp-for="IsAdopted" />
        <span asp-validation-for="IsAdopted"></span>
    </div>
    <div>
        <label asp-for="AdvertisementId">AdvertisementId:</label>
        <input asp-for="AdvertisementId" />
        <span asp-validation-for="AdvertisementId"></span>
    </div>
    <div>
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId"></span>
    </div>
    <input type="submit" />

</form>