@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Categories.GetAllCategoriesViewModel
@{
    this.ViewData["Title"] = "Get all categories";
}

<div class="row">
    @foreach (var category in this.Model.Categories)
    {
        <div class="card col-md-3 shadow-lg bg-white">
            <div class="card-body p-1">
                <h5 class="card-title text-center mb-1 mt-2">@category.Name</h5>
                <div class="d-flex justify-content-sm-around">
                    <div class="col-lg-6 col-md-12 mt-0">
                        <h4 class="text-left w-100"><span class="badge badge-success font-weight-normal">Pets count: @category.PetsCount</span></h4>
                    </div>
                    <div class="col-lg-6 col-md-12 mt-0">
                        <h4 class="text-left w-100"><span class="badge badge-info font-weight-normal w-100"><a class="text-decoration-none text-white" asp-action="ById" asp-route-id="@category.Id">Pets</a></span></h4>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

