@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Categories.GetAllCategoriesViewModel
@{
    this.ViewData["Title"] = "Get all categories";
}

<div class="text-center">
    @foreach (var category in Model.Categories)
   {
       <h3>@category.Name</h3>
       <p>Count of pets: @category.PetsCount</p>
       <br />
   }
</div>
