@model AdoptAnimal.Web.ViewModels.Ads.CreateAdvertisementInputModel
@{
    this.ViewData["Title"] = "Add new advertisement";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>

<form method="post" class="text-center">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">PhoneNumber:</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Pets" asp-action="Create">Add Pet</a></button>
    <br />
    <br />
    <input type="submit" />
     

</form>