@model AdoptAnimal.Web.ViewModels.Ads.CreateAdvertisementInputModel
@{
    this.ViewData["Title"] = "Add new advertisement";
    var genderTypes = this.Model.Pet.GenderTypes.Select(g => new SelectListItem(g.Value, g.Value));
    var enumElements = this.Model.Pet.IsDewormed.Select(e => new SelectListItem(e.Value, e.Value));
    var categoryItems = this.Model.Pet.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h3 class="text-center mt-2">@this.ViewData["Title"]</h3>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Title">Title:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber">Phone Number:</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <h5>Pet information</h5>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Pet.Name">Name:</label>
            <input asp-for="Pet.Name" class="form-control" />
            <span asp-validation-for="Pet.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Pet.Age">Age:</label>
            <input asp-for="Pet.Age" class="form-control" />
            <span asp-validation-for="Pet.Age"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Pet.Weight">Weight:</label>
            <input asp-for="Pet.Weight" class="form-control" />
            <span asp-validation-for="Pet.Weight" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Pet.Breed">Breed:</label>
        <input asp-for="Pet.Breed" class="form-control" />
        <span asp-validation-for="Pet.Breed" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Pet.GenderTypes">Gender:</label>
            <select asp-for="Pet.GenderTypes" asp-items="genderTypes" class="form-control">
            </select>
            <span asp-validation-for="Pet.GenderTypes" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Pet.IsDewormed">IsDewormed:</label>
            <select asp-for="Pet.IsDewormed" asp-items="enumElements" class="form-control"></select>
            <span asp-validation-for="Pet.IsDewormed" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Pet.CategoryId">Category:</label>
        <select asp-for="Pet.CategoryId" asp-items="categoryItems" class="form-control"></select>
        <span asp-validation-for="Pet.CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pet.Images">Images:</label>
        <input asp-for="Pet.Images" class="form-control" />
        <span asp-validation-for="Pet.Images" class="text-danger"></span>
    </div>
    <input type="submit" />
</form>

