@model AdoptAnimal.Web.ViewModels.Ads.CreateAdvertisementInputModel
@{
    this.ViewData["Title"] = "Add new advertisement";
    var genderTypes = this.Model.Pet.GenderTypes.Select(g => new SelectListItem(g.Value, g.Value));
    var enumElements = this.Model.Pet.IsDewormed.Select(e => new SelectListItem(e.Value, e.Value));
    var categoryItems = this.Model.Pet.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1 class="text-center">@this.ViewData["Title"]</h1>

<form method="post" class="text-center" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">PhoneNumber:</label>
        <input asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address">Address:</label>
        <input asp-for="Address"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <h3>Add New Pet</h3>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Pet.Name">Name:</label>
        <input asp-for="Pet.Name"/>
        <span asp-validation-for="Pet.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pet.Age">Age:</label>
        <input asp-for="Pet.Age" />
        <span asp-validation-for="Pet.Age"></span>
    </div>
    <div>
        <label asp-for="Pet.Weight">Weight:</label>
        <input asp-for="Pet.Weight"/>
        <span asp-validation-for="Pet.Weight" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pet.Breed">Breed:</label>
        <input asp-for="Pet.Breed"/>
        <span asp-validation-for="Pet.Breed" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pet.GenderTypes">Gender:</label>
        <select asp-for="Pet.GenderTypes"asp-items="genderTypes"></select>
        <span asp-validation-for="Pet.GenderTypes" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pet.IsDewormed">IsDewormed:</label>
        <select asp-for="Pet.IsDewormed" asp-items="enumElements"></select>
        <span asp-validation-for="Pet.IsDewormed" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pet.IsAdopted">IsAdopted:</label>
        <input asp-for="Pet.IsAdopted"/>
        <span asp-validation-for="Pet.IsAdopted" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Pet.CategoryId">Category:</label>
        <select asp-for="Pet.CategoryId" asp-items="categoryItems"></select>
        <span asp-validation-for="Pet.CategoryId" class="text-danger"></span>
    </div>
    <div >
        <label asp-for="Pet.Images">Images:</label>
        <input asp-for="Pet.Images"/>
        <span asp-validation-for="Pet.Images" class="text-danger"></span>
    </div>

    <input type="submit" />

</form>

