@model AdoptAnimal.Web.ViewModels.Ads.CreateAdvertisementInputModel
@{
    this.ViewData["Title"] = "Add new advertisement";
    var petsItems = this.Model.PetsItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<h1>@this.ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <select asp-items="petsItems"></select>
    </div>
    <input type="submit" />

</form>
