@model AdoptAnimal.Web.ViewModels.Advertisements.EditAdvertisementInputModel
@{
    this.ViewData["Title"] = "Edit advertisement";
}

<h3 class="text-center">Edit</h3>
<form method="post" class="text-center">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">PhoneNumber:</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-info btn-success mb-0" value="Save changes" />
</form>