@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Advertisements.GetAllAdvertisementsInputModel
@{
    this.ViewData["Title"] = "Get all advertisements";
}

<div class="text-center">
    @foreach (var ad in Model.Advertisements)
   {
       <h3>@ad.Title</h3>
       <p>@ad.Description</p>
       <br />
   }
</div>