@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Articles.ArticlesListViewModel
@{
    this.ViewData["Title"] = "Get all articles";
}

<section class="news pt-0 mt-1">
    <div class="container">
        <ul class="row d-lg-flex list-unstyled image-block justify-content-center px-lg-0 mx-lg-0">
            @foreach (var article in Model.Articles)
            {
                <li class="col-lg-4 col-md-5 image-block full-width p-3">
                    <div class="image-block-inner">
                        @if (article.Source != null)
                        {
                            <a class="mh-100" href="#">
                                <img src=@article.Source alt=@article.Title class="img-responsive w-100">
                            </a>
                        }
                        <h5 class="mt-2 text-center">@article.Title</h5>
                        <div class="text-right mb-2">
                            <a asp-action="ById" asp-route-id="@article.Id" class="read-more">Прочети повече ></a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
<partial name="_PagingPartial" model="@Model" />

