@model AdoptAnimal.Web.ViewModels.Articles.SingleArticleViewModel
@{
    this.ViewData["Title"] = "ById";
}

<div class="d-flex justify-content-center mt-2">
    <div class="row">
        <div class="col-lg-12 text-center">
            <article>
                <header class="mb-4">
                    <h3 class="fw-bolder mb-1">@Model.Title</h3>
                    <div class="font-italic text-muted fst-italic mb-2">Добавено на @Model.CreatedOn.ToString("hh:MM dd/mm/yy") от @Model.AuthorUserName</div>
                </header>
                @if(Model.ImageUrl != null)
                {
                    <figure class="mb-4"><img class="img-fluid rounded" src=@Model.ImageUrl alt=@Model.Title></figure>
                }
                <section class="mb-5">
                    <p class="fs-5 mb-4">@Model.Content</p>
                </section>
            </article>
        </div>
    </div>
</div>