@model AdoptAnimal.Web.ViewModels.Articles.CreateArticleInputModel
@{
    this.ViewData["Title"] = "Add new article";
}
<h3 class="text-center mt-2">@this.ViewData["Title"]</h3>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content">Content:</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
         <label asp-for="ArticleImageSorce">Image URL</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                </div>
             <span asp-validation-for="ArticleImageSorce" class="text-danger"></span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" asp-for="ArticleImageSorce">
            </div>
    </div>
    <input type="submit" />
</form>


