@using AdoptAnimal.Common
@model AdoptAnimal.Web.ViewModels.Articles.GetAllArticlesViewModel
@{
    this.ViewData["Title"] = "Get all articles";
}

<div class="text-center">
    @foreach (var article in Model.Articles)
   {
       <h3>@article.Title</h3>
       <br />
   }
</div>